script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
script(src="/js/jquery.mustache.js")
script(src="/socket.io/socket.io.js")
script(src="/js/host.js")
script(src="/js/mobile.sensors.js")
script(src="/js/mobile.js")
