script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
script(src="/js/jquery.mustache.js")
script(src="/socket.io/socket.io.js")
script(src="/js/helpers.js")
script(src="/js/sensitive.js")
script(src="/js/sensitive.orientation.js")
script(src="/js/sensitive.motion.js")
script(src="/js/sensitive.host.js")
script(src="/js/sensitive.mobile.js")
script(src="/js/init.js")
