script(src="/socket.io/socket.io.js")
script(src="/sensitive/js/jquery.min.js")
script(src="/sensitive/js/jquery.mustache.js")
script(src="/sensitive/js/helpers.js")
script(src="/sensitive/js/sensitive.js")
script(src="/sensitive/js/sensitive.orientation.js")
script(src="/sensitive/js/sensitive.motion.js")
script(src="/sensitive/js/sensitive.host.js")
script(src="/sensitive/js/sensitive.mobile.js")
script(src="/js/application.js")
