<div class="playerContainer" playerid="{{player}}">
	<div class="player">
		<figure class="front">
			<a href="#" class="close"></a>
			<div class="pic" style="background-image: url('{{path}}')"></div>
			<h2>Waiting player...</h2>
			<h3>Please scan the QR code to select</h3>
		</figure>
		<figure class="back">
			<div class="pic"></div>
			<h2>{{name}}</h2>
			<h3>Connected</h3>
		</figure>
	</div>
</div>